body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #FFF8E8;
}

h1{
    text-align: center;
}

.main-content{
    min-width: 400px;
    width: 30%;
    border: 1px solid black;
    background-color: #F7EED3;
}

.to-do-list{
    list-style-type: none;
    padding: 0;
}

.to-do-list li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.5rem;
}

ion-icon{
    width: 30px;
    height: 30px;
}

#taskInput{
    height: 30px;
    background-color: white;
    border-radius: 10px;
}

#addTask{
    text-align: center;
}


.disabledBtn{
    color: lightgray;
    cursor: not-allowed;
    pointer-events: none;
}
