*{
    font-family: 'Montserrat', sans-serif;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-align: center;
    line-height: 1.5rem;
}

body{
    background-color: #ffebd444;
}


#pagetitle{
    background-color: #F0A8D077;
    padding: 1rem;
    border-radius: 1rem;
}

.month{
    background-color:  #F7B5CA77;
    padding: 0.5rem;
    border-radius: 1rem;
}

.todaydate{
    background-color:#FFC6C677;
    padding: 0.5rem;
    border-radius: 1rem;
}

.assignment-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.btn{
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    background-color: #FFEBD477;
}

a{
    text-decoration: none;
    color: black;   
}

