*{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.5rem;
}

body{
    background-color: #ffebd444;
    padding: 10px;
}


#pagetitle{
    background-color: #F0A8D077;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 2px solid #F0A8D0FF;
}

.month{
    background-color:  #F7B5CA77;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid #F7B5CAFF;
}

.todaydate{
    background-color:#FFC6C677;
    padding: 0.75rem;
    border-radius: 1rem;
    border: 2px solid #FFC6C6FF;
}

.assignment-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    padding: 10px;
}

.btn{
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #FFEBD477;
    width: 100%;
    height: 100%;
    border: 2px solid  #FFEBD4FF;
    box-shadow: 0 0 4px #FFEBD477 ;
}

a{
    text-decoration: none;
    color: black; 
     
}

