body{
    margin: 5vh;
    font-family: Times, serif;
    text-align: center;
    background-color: #FFFAFB;
}

.main-content{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:30px;
}

h2{
    color: #544D4F;
}

.box{
    border-radius: 0.5rem;
    width: 10vw;
    height: 10vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box img{
    width: 80%;
}


.btn{
    background-color: transparent;
    border: 1px solid red;
    padding: 0.5rem 0.75rem;
    margin: 2rem;
    border-radius: 0.5rem;
    color: red;
}



