body{
    background-color: #F7F6F9;
    margin: 10vh;
    font-family: Times, serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:30px;
}

.box{
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 0 8px #b689347b;
}

.heading{
    font-size: large;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
}

.price{
    color: #B68834;
}

.coffee-info p{
    color: #787877;
}

.coffee-info{
    margin: 1.5rem;

}